<a href="https://colab.research.google.com/github/Thanaporn-J11/Colab/blob/main/Colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello World!")

Hello World!

In [ ]:
print('single quote')

single quote

In [ ]:
print("hello"+"world")
print("hello"+""+"world")
print("hello","world","!","R2DE")

helloworld
helloworld
hello world ! R2DE

สามารถใช้ "" หรือ '' ก็ได้ผลลัพธ์เหมือนกัน
ชื่อตัวแปร ="ค่าที่ต้องการเก็บ"
int (Integer) เป็นข้อมูลประเภทจำนวนเต็ม

In [ ]:
# Int
a = 1
a

1

การ Comment

In [ ]:
# This is comment
# print("hello")
# สิ่งที่อยู่หลังเครื่องหมาย # เรียกว่า comment
# คือ Python จะไม่สนใจ comment ใน code

float (Float) เป็นข้อมูลประเภททศนิยม

In [ ]:
# Float
float(a)

1.0

str (String) เป็นข้อมูลประเภทข้อความ สามารถแปลงตัวเลขให้เป็นข้อความได้ด้วย str(ตัวแปร)

In [ ]:
# String
str(a)

'1'

การบวก string คือการ นำ string สองอันมาต่อกัน (append)

In [ ]:
str(a) + "1"

'11'

In [ ]:
print(1+2+3)

6

bool (Boolean) เป็นข้อมูลประเภทค่าความจริง True / False
ถ้าตัวแปรที่จะแปลงไม่ว่างเปล่าจะได้ค่า True

In [ ]:
a

1

In [ ]:
bool(a)

True

In [ ]:
bool(0)

False

ถ้าตัวแปรไม่มีค่า (มีค่าเป็น None) จะได้เป็น False

In [ ]:
bool(None)

False

คำสั่ง type() เป็นคำสั่งที่ไว้ใช้ตรวจสอบประเภท ว่าเป็นประเภทอะไร

In [ ]:
type(a)

int

In [ ]:
b = "Python!"
b

'Python!'

In [ ]:
int(b)

ValueError: invalid literal for int() with base 10: 'Python!'

Python Data Structure
โครงสร้างข้อมูลที่ควรรู้จัก
List
List เป็น data structure ที่ไว้เก็บข้อมูลเป็นลำดับ เหมือน array คือ จะเก็บข้อมูลไว้เป็นช่อง

In [ ]:
# ทบทวนตัวแปร
print(a,type(a))
print(b,type(b))

1 <class 'int'>
Python! <class 'str'>

การสร้าง list สร้างโดยใช้เครื่องหมาย []

In [ ]:
empty_list = []
print(empty_list)

[]

การสร้าง list จากตัวแปรที่สร้างขึ้น

In [ ]:
l = [b,a,a+1,a+2]
l

['Python!', 1, 2, 3]

การดูจำนวนสมาชิก (length) ของ list

In [ ]:
len(l)

4

การเรียกดูค่า list ในเฉพาะบางช่อง

In [ ]:
l[3] = 5
l

['Python!', 1, 2, 5]

ลองดูการเปลี่ยนแปลงของ list ต่อท้าย ใช้คำสั่ง append

In [ ]:
l.append(":)")
l

['Python!', 1, 2, 5, ':)']

In [ ]:
l

['Python!', 1, 2, 5, ':)']

In [ ]:
len(l)

5

คำสั่ง pop() คือการ remove สมาชิกตัวสุดท้ายของ list

In [ ]:
l.pop()
l

['Python!', 1, 2, 5]

Turple
Turple เป็น data structure ที่ไว้เก็บข้อมูลเป็นลำดับ คล้ายกับ list โดยจะมี index เริ่มต้นที่ 0 เช่นกัน แต่ *ไม่สามารถแก้ไข เปลี่ยนแปลงข้อมูลได้ (immutable) *ใช้สัญลักษณ์ () แทน turple

In [ ]:
t = (0,1,2,3,4)

In [ ]:
len(t)

5

In [ ]:
t[0:3]

(0, 1, 2)

การใช้เลข index (สำหรับ list,tuple,string)
ใน list tuple string สามารถใช้เลข index เพื่อเข้าถึงสมาชิกได้ โดย index จะเริ่มจาก 0 และถึง len() -1 (ถ้าเว้นไว้คือถึงตัวสุดท้าย) และสามารถใช้เลข index ติดลบแทนการนับจากด้านหลังได้

การเข้าถึงข้อมูลตัวสุดท้ายของ tuple

In [ ]:
t[-1]

4

การเข้าถึงข้อมูล ตัวที่สาม จากท้ายสุด จนถึงตัวสุดท้าย

In [ ]:
t[-3:]

(2, 3, 4)

Dictionary
Dictionary เป็น Data Structure ที่เก็บในลักษณะ key - value
เช่น dict ={"key"

In [ ]:
grade = {
    "A" : 80,
    "B" : 70,
    "C" : 60,
    "D" : 50,
}
grade

{'A': 80, 'B': 70, 'C': 60, 'D': 50}

In [ ]:
grade["A"]

80

In [ ]:
grade["B+"] = 75
grade

{'A': 80, 'B': 70, 'C': 60, 'D': 50, 'B+': 75}

การสร้าง dictionary ว่าง และเพิ่มหรืออัปเดตค่า key-value

In [ ]:
d = {}
d["s001"] = "Perth"
d["s002"] = "Fon"

In [ ]:
d["s001"]

'Perth'

Python String

In [ ]:
sentence = " Hello Python. I am ready. "

String จะคล้ายคลึงกับ list ตรงที่สามารถ ดูค่าตาม index ที่ระบุตำแหน่งนั้นได้

In [ ]:
sentence[1]

'H'

การตัดบางช่วงของ string โดยใช้เครื่องหมาย : ควบคู่กับ

In [ ]:
sentence[1:13]

'Hello Python'

strip คือการลบช่องว่าง หัวท้าย

In [ ]:
sentence.strip()

'Hello Python. I am ready.'

In [ ]:
list_of_words = sentence

AttributeError: 'str' object has no attribute 'spilt'

In [ ]:
corgi = ''.join(list_of_words)
corgi

NameError: name 'list_of_words' is not defined

Loop
For loop

In [ ]:
for temp_var in list_or_range:
  do_something1()
  do_something2()

NameError: name 'list_or_range' is not defined

In [ ]:
# ทบทวนตัวแปร l ตัวเดิม
l

['Python!', 1, 2, 5]

In [ ]:
for item in l:
  print(item)

Python!
1
2
5

In [ ]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
# List Comprehension
list_t = [i for i in t]

In [ ]:
[i+ 1 for i in range(100)]

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100]

If condition
if condition จะทำตามเงื่อนไขต่อเมื่อเป็นจริงเท่านั้น

In [ ]:
if len(t) == 5:
  print('length is 5')
else:
  print('length not equals 5')

length is 5

' ตัวอย่างโค้ดการตัดเกรด จากตัวแปร score '

In [ ]:
# ทบทวนตัวแปร grade ตัวเดิม
grade

{'A': 80, 'B': 70, 'C': 60, 'D': 50, 'B+': 75}

In [ ]:
score = 75
if score >= grade["A"]:
  print("A")
  print("Good Job!")
elif score >= grade["B+"]:
  print("B+")
elif score >= grade["B"]:
  print("B")
elif score >= grade["C"]:
  print("C")
elif score >= grade["D"]:
  print("D")
else:
  print("F")

B+

Math
Package สำหรับคำนวณตัวเลข เช่น Log , Exponential และเรียกใช้ค่าทางคณิตศาสตร์ เช่น Pi

In [ ]:
import math

math.pi

3.141592653589793

Datetime

In [ ]:
import datetime

now = datetime.datetime.now()
now

datetime.datetime(2025, 1, 7, 9, 40, 13, 325980)

In [ ]:
now.isoformat()

'2025-01-07T09:40:13.325980'

การเรียกดูวันที่ปัจจุบัน

In [ ]:
today = datetime.date.today()
today

datetime.date(2025, 1, 7)

รูปแบบมาตรฐานของ date คือ YYYY-mm-dd

In [ ]:
today.isoformat()

'2025-01-07'

Simple Functions

In [ ]:
def circle_area(radius):
  return math.pi * radius * radius

circle_area(4)

50.26548245743669

สร้างฟังก์ชันเพื่อแปลงค่าเงิน โดย rate จะมี default parameter อยู่ที่ 31.33

In [ ]:
def rectangle_area(height, width):
  return height * width

rectangle_area(4, 5)

20

In [ ]:
def conversion(amount, rate=31.33):
 return amount * rate

conversion(30)

939.9

แต่สามารถปรับเปลี่ยนค่า rate ได้เหมือนฟังก์ชั่นปกติ ถ้าเกิดมีการใส่ rate มา

In [ ]:
conversion(30, 34.3333)

1029.999

In [ ]:
file = open("output.csv", "w")
file.write("date,item,price\n")
file.write("2020-02-07,Mike,26.5\n")
file.write("2020-02-08,Water,7\n")
file.close()

การวนลูปเขียนไฟล์ จาก list ของ tuple

In [ ]:
header = ("date","item","price")
",".join(header) + "\n"

'date,item,price\n'

In [ ]:
header = ("date","item","price")
content = [
    ("2020-02-07","Milk","26.5"),
    ("2020-02-08","Water","7"),
    ("2020-02-08","Mask","20"),
    ("2020-02-08","Lays","10"),
    ("2020-02-08","Rice","6")
]

file = open('products.csv','w')
file.write(",".join(header) + "\n")

for row in content:
  file.write(",".join(row) + "\n")

file.close()

การอ่านไฟล์

In [ ]:
with open("products.csv","r") as f:
  product = f.readlines()

product

['date,item,price\n',
 '2020-02-07,Milk,26.5\n',
 '2020-02-08,Water,7\n',
 '2020-02-08,Mask,20\n',
 '2020-02-08,Lays,10\n',
 '2020-02-08,Rice,6\n']

Use Pandas to Read/Write file

In [ ]:
import pandas as pd

df = pd.read_csv("sample_data/california_housing_test.csv")
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0
...,...,...,...,...,...,...,...,...,...
2995,-119.86,34.42,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0
2996,-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0
2997,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0

เซฟไฟล์ CSV จาก DataFrame

In [ ]:
df.to_csv("new_data.csv")

JSON

In [ ]:
grade

{'A': 80, 'B': 70, 'C': 60, 'D': 50}

In [ ]:
import json
json.dumps(grade)

'{"A": 80, "B": 70, "C": 60, "D": 50}'

In [ ]:
type(json.dumps(grade))

str

In [ ]:
# Save to output file grade.json
json.dump(grade, open("grade.json","w"))

JSON load = import JSON

In [ ]:
students = json.loads('{"student1": "Perth","student2": "Fon"}')
students

{'student1': 'Perth', 'student2': 'Fon'}

In [ ]:
type(students)

dict